body{
    margin: 0; padding: 0;
}
#sitenav ol{
    padding: 0; margin: 0; display: inline;
}
#sitenav li{
    display: inline; padding-left: 1em; margin-left: 1em; border-left: 1px solid black;
}
#sitenav li:first-child{
    padding-left: 0; border-left: none; 
    margin-left: 0;
}

#main {
    padding: 0 2em 2em 12em;
}
#content {
    float: left;
}
#sidebar {
    float: left; width: 10em;
    position: relative;
    right: 11em;
    top: 1em; 
    margin-left: -100%;
} 

    #sidebar ol{
        margin: 0 0 1em 0;
    }